/* タグ指定 */
html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom,rgb(162, 229, 255),rgb(53, 188, 255));
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* --------------------- */
/* タスクタイマーボタン */
/* --------------------- */
.nav {
    /* 並びして指定 */
    display: flex;
    flex-direction: column;
    position: fixed;
    /* 位置指定 */
    top: 10px;
    left: 10px;
    gap: 10px;
}
.nav__button {
    /* ボタンデザイン指定 */
    width: 100px;
    height: 40px;
    background-color: rgba(10, 132, 255, 0.6);
    border: none;
    border-radius: 10%;
    /* フォント指定 */
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-weight: 550;
}

/* --------------------- */
/* タイマーエリア */
/* --------------------- */
.timer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.timer__display {
    width: 300px;
    height: 300px;
    /* フォント指定 */
    color: rgb(255, 255, 255);
    font-weight: 450;
    font-size: 5rem;
    border: 7px solid rgba(255, 255, 255, 0.537);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ボタン共通 */
.timer__play-button,
.timer__pause-button,
.timer__reset-button {
    position: relative;
    width: 60px;
    height: 60px;
    margin-top: 50px;
    border: solid 3px white;
    border-radius: 50%;
    background-color: transparent;
}

/* 再生ボタン：▶ */
.timer__play-button::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 25px solid white;
}

/* 一時停止ボタン：❚❚ */
.timer__pause-button::before,
.timer__pause-button::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 8px;
    height: 22px;
    background-color: white;
}
.timer__pause-button::before {
    left: 30%;
}
.timer__pause-button::after {
    right: 30%;
}

/* 停止ボタン：■ */
.timer__reset-button::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 22px;
    height: 22px;
    background-color: white;
}
